<%= form_for @round , :html => { :multipart => true } do |f| %>
<div align='center'>
  <table class="tbl-user">
    <tr>
      <td><%= f.label :question %></td>
      <td>:</td>
      <td><%= f.text_area :question, :placeholder => 'Enter Question' %></td>
    </tr>
    <tr>
      <td><%= f.label "Suggestion" %></td>
      <td>:</td>
      <td><%= f.text_field "suggestion", :placeholder => 'Enter Suggestion', :id => "round_suggestion", :value => "", class: "form-control" %>
        <a id="add_suggestion" style="cursor: pointer;">Add Suggestion</a>
        </br>
        <p id="suggestion_list"></p>
      </td>
    </tr>
    <tr>
      <td><%= f.label :dealine %></td>
      <td>:</td>
      <td><%= f.text_field :deadline, :id => "datepicker", :value => Date.today, class: "form-control" %></td>
    </tr>
    <tr>
    <tr>
      <td colspan="3">
        <%= f.submit "Submit", class: "btn btn-info" %>
        <%= link_to '<input value="Back" type="button" class="btn btn-info" />'.html_safe, rounds_path %>
      </td>
    </tr>
  </table>
</div>
<% end %>
  <script>
    // add suggestion

    document.getElementById("add_suggestion").onclick = function(){addSuggestion()};

    function addSuggestion(){
      var elementObj = document.getElementById("suggestion_list");
      var inputObj = document.getElementById("round_suggestion");

      if(inputObj.value == "") {
        alert("Please enter the suggestion!"); 
      }else{
          var checkBox = document.createElement("INPUT");
          var answer = inputObj.value;
          checkBox.setAttribute("type", "checkbox");
          checkBox.setAttribute("value", answer);
          checkBox.setAttribute("name", "answers[]");
          checkBox.setAttribute("class", "answers");
          checkBox.setAttribute("checked", "checked");
          elementObj.appendChild(checkBox);
          $("p#suggestion_list").append(" "+answer+"<br/>");
          inputObj.value ="";
      }

    } 

    // date picker

    $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
    function displayDate(){
        document.getElementById("demo").innerHTML=Date();
      }
  </script>
  


