<!-- <div id="navbar-inner" class="navbar-inner header">
<span class="span-leave">ROUND MENAGEMNET</span>
</div> -->	
<div id="wrapper">
	<div class="container-fluid">
        <div class="row-fluid">
          	<div class="span2">
          		<h3>Action</h3>
                <ul class="nav nav-tabs nav-stacked">
			    	<li><a href="#">Management</a></li>
					<li><%= link_to 'User',users_path %></li>
					<li class="active"><%= link_to "Round Phase",rounds_path%></li>
					<li class="#"><%= link_to 'Suggestion Phase',suggestions_path %></li>
			    </ul>
          	</div>
          	<div class="span10">
          		<h3>Round Phase</h3>
          		<p>
          			<%= link_to '<button type="button" class="btn btn-info">Add New</button>'.html_safe, new_round_path %>
          		</p>
      		    <table class="table table-bordered">
      		    	<tr class="success">
						<th>No</th>
						<th>Round</th>
						<th>Deadline</th>
						<th>Action</th>
						<th></th>
					</tr>

				<%	@count_round_id = 0 %>

				<% @rounds.each do |round| %>
			    	<tr>
						<td><%= @count_round_id = @count_round_id + 1 %></td>
						<td><%= round.question %></td>
						<td><%= round.deadline %></td>
						<td>
							<span>
								<%= link_to image_tag("edit.png", :alt => "Edit", :title => "Edit"), edit_round_path(round) %>
							</span> 
							&nbsp;
							<span>
								<%= link_to image_tag("delete.png", :alt => "Delete", :title => "Delete"), round_path(round), method: :delete, data: {confirm: "Are you sure want to delete this record?"} %> 
							</span>
						</td>
						<td>
	         <span><%= link_to '<button class="btn btn-success">Start Suggestion Phase</button>'.html_safe, status_round_path(round, :status => true), method: :post %></span>
						</td>
					</tr>
				<% end %>
			    </table>
          	</div>
        </div>
    </div>
