<div id="wrapper">
	<div id='home-head'>
		<h1>All Questions</h1>
	</div>
	<div class="navbar">
		<div class="navbar-inner">			
			<ul class="nav">
				<li class="<%= 'active' if params[:controller] == 'users_controller' %>">
					<%= link_to "Home", users_path %>
				</li>
				<li class="<%= 'active' if params[:controller] == 'rounds_controller' %>">
					<%= link_to "Vote", votes_path %> 
				</li>       
			</ul>
		</div>
	</div>
	<div class="blog-summary">
		<% @rounds.each do |round| %>	
		<%= round.id %><br/>
		<%= round.question %>Answers : 4(<%= round.deadline %>) <a href="">More Answer</a>
		<% end %>
	</div>
</div><!-- end wrapper -->

