<div id="wrapper-font">
<!-- 	<div id='home-head'>
		<h1>Questions</h1>
	</div> -->
	
	<div class="blog-summary">
		<!-- <div class="row">
			<div class="span12" style="width: 98.4%;">
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#">All Questions</a></li>
				    <li><a href="#">Voting</a></li>
	            </ul>
	        </div>
		</div> -->

		<h4>Question</h4>

		<table class="table">
			<% @arr_suggestions.each do |round| %>
	    		<tr>
	    			<td><%= round[:suggestion].id %></td>
	    			<td><%= link_to (round[:suggestion].question), vote_path(round[:suggestion]) %></td>
	    			

	    				<% leave_day = (round[:suggestion].deadline - Date.today).to_i %>
	    				<% if leave_day > 0 %>
	    					<td>Answers : <strong style="color: purple;"><%= round[:top_answer] %></strong> (<%=  round[:suggestion].deadline %>) <span class="leave_deadline">(Leave: <%= leave_day %> day(s) )</span></td>
	    				<% elsif leave_day < 0 %>
	    					<td>
	    						Answers : <strong style="color: purple;"><%= round[:top_answer] %></strong> 
	    						(<%=  round[:suggestion].deadline %>) 
	    						<span class="view_completed_round">
	    							<%= link_to "(View Completed Round)", "#" %>
	    						</span>
	    					</td>
	    				<% else %>
	    					<td>Answers : <strong style="color: purple;"><%= round[:top_answer] %></strong> (<%=  round[:suggestion].deadline %>) <span class="argent_deadline">(Today is deadline)</span></td>
	    				<% end %>


	    			<td><a href="#">Add More Answer</a></td>
	    		</tr>
    		<% end %>
    	</table>

	</div>
</div><!-- end wrapper -->

