<div id="wrapper-font">
	
	<div class="blog-summary-small">

		<h2>Voting</h2>

		<!-- Question -->

		<h4><%= "#{@question_id}. " %><%= @round.question %></h4>

		<!-- End question -->

		<!-- Answer or Suggestion -->

		<%= form_for :suggestions, url: {action: "save_voting", controller: "suggestions"} do |ta| %>

			<input type="hidden" name="round_id" value="<%= @question_id %>" />

			<div id="all_answer">
				<% @arr_answers.each do |answer| %>
					<% @voted = UserAnswer.find_by_user_id_and_answer_id(current_user.id, answer[:answer].id) %>
					
					<% if @voted != nil %>
						<input type="checkbox" value="<%= answer[:answer].id %>" name='suggestion_answers[]' checked="checked" /> <%= answer[:answer].txt_answers %> <span style="color: red;">&nbsp; &nbsp; Voted:<%= answer[:amount] %></span><br/>

					<% else %>
					
						<input type="checkbox" value="<%= answer[:answer].id %>" name='suggestion_answers[]' /> <%= answer[:answer].txt_answers %> <span style="color: red;">&nbsp; &nbsp; Voted:<%= answer[:amount] %></span><br/>
					
					<% end %>
				<% end %>
					 <!-- <span id="new_suggestion"></span> -->
			</div>

		<!-- End Answer or Suggestion -->

		<!-- Voting -->

			<%= ta.submit "Vote", class: "btn btn-info" %>
			<a id="toggle-answer" style="cursor: pointer;" class="btn btn-info">Add more suggestion</a>

			<!-- Add More Suggestion -->

			<div id="answer-form">
				Suggestion : <input type="text" id="sug_more">&nbsp; &nbsp;
				<a href="#" id="btn_add_more" style="cursor: pointer;">Add</a>
			</div>

			<!-- End Add More Suggestion -->

		<!-- End Voting -->

		<% end %>

		<!-- Comment -->

		<script>
			$(document).ready(function(){
			  $("#show_comment").hide();
			  var count_click = 0;
			  $("#press").click(function(){
			  	count_click = count_click + 1;
			  	if(count_click%2 == 0){
			  		$("#show_comment").hide();
			    	document.getElementById("press").innerHTML = "View Comment <%= @comments.count %>";
			  	}else{
			  		$("#show_comment").show();
			    	document.getElementById("press").innerHTML = "Hide Comment <%= @comments.count %>";
			  	}
			  });
			});
		</script>

		<% if(@comments.count != 0) %>
			<h5 id="press" style="cursor: pointer;">View Comment: <%= @comments.count %></h5>
			<div id="show_comment">
				<% @comments.each do |c|%>
					<p style="color: #2F96B4;"><%= c.user.email %>: <%= c.txt_comment %></p>
				<% end %>
			</div>
		<% end %>

		<!-- <p>Login User : <%= current_user.email %></p> -->
		<%= render partial: 'comments/form' %>

		<!-- End comment -->

	</div>
</div><!-- end #wrapper-end -->

<!-- Add more suggestion -->

<script>

	//toggle show form for add suggestion

	$(document).ready(function(){
		//alert("hello");
	$("#answer-form").hide();
	  $("#toggle-answer").click(function(){
	    $("#answer-form").toggle();
	  });
	});

	// user add more suggestion

	document.getElementById('btn_add_more').onclick = function(){userAddSug()};

	function userAddSug(){

		var userAddSug = document.getElementById('all_answer');
		var userRoundSug = document.getElementById('sug_more');

		if(userRoundSug.value == "") {
        	alert("Please enter the suggestion!"); 
	    }else{
			var newCheckBox = document.createElement("INPUT");
			var newAnswer = userRoundSug.value;
			newCheckBox.setAttribute("type", "checkbox");
			newCheckBox.setAttribute("value", newAnswer);
			newCheckBox.setAttribute("name", "answers[]");
			newCheckBox.setAttribute("class", "answers");
			newCheckBox.setAttribute("checked", "checked");
			userAddSug.appendChild(newCheckBox);
			$("#all_answer").append(" "+newAnswer+"<span style='color: red;'>&nbsp; &nbsp; Voted:0</span><br/>");
			userRoundSug.value = "";
	    }
	}

</script>

