<div id="wrapper-font">
	
	<div class="blog-summary">
		<!-- <div class="row">
			<div class="span12" style="width: 98.4%;">
			    <ul class="nav nav-tabs">
				    <li><a href="#">All Questions</a></li>
				    <li class="active"><a href="#">Voting</a></li>
	            </ul>
	        </div>
		</div> -->

		<h4>Voting</h4>

		<%= "#{@question_id}." %><%= @round.question %>

		<p>Comment list</p>

		<% @comments.each do |c|%>
			<p> <%= c.user.email %> : <%= c.txt_comment %></p>
		<%end%>

		<p>Login User : <%= current_user.email %></p>

		<%= render partial: 'comments/form' %>

		<!-- <h4>Comment</h4>

		<table>
			<tr>
				<td>Descrtion :</td>
				<td><textarea></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="button" class="btn btn-info">Add Comment</button></td>
			</tr>
		</table> -->

	</div>
</div><!-- end #wrapper-end -->

