<div id="wrapper"  style="padding-top: 20px;">
  <div class="blog-summary-small">
    <h1 align="center">Add More Suggestion</h1>
    <%= render partial: 'suggestions/form' %>

    <hr>

    <!-- Comment -->

		<script>
			$(document).ready(function(){
			  $("#show_comment").hide();
			  var count_click = 0;
			  $("#press").click(function(){
			  	count_click = count_click + 1;
			  	if(count_click%2 == 0){
			  		$("#show_comment").hide();
			    	document.getElementById("press").innerHTML = "View Comment <%= @comments.count %>";
			  	}else{
			  		$("#show_comment").show();
			    	document.getElementById("press").innerHTML = "Hide Comment <%= @comments.count %>";
			  	}
			  });
			});
		</script>

		<% if(@comments.count != 0) %>
			<h5 align="center" id="press" style="cursor: pointer;">View Comment: <%= @comments.count %></h5>
			<div id="show_comment">
				<% @comments.each do |c|%>
					<p style="color: #2F96B4;"><%= c.user.email %>: <%= c.txt_comment %></p>
				<% end %>
			</div>
		<% end %>
	<!-- end Comment -->

		<div align="center"><%= render partial: 'comments/form' %></div>
	</div>
</div>
