<div id="wrapper">
	<div class="container-fluid">
        <div class="row-fluid">
          	<div class="span2">
          		<h3>Action</h3>
                <ul class="nav nav-tabs nav-stacked">
                	<% if current_user.admin? %>				
						<li class="active"><%= link_to "Round",rounds_path%></li>
					<%end%>
					<li class="#"><%= link_to 'Suggestion',suggestions_path %></li>
					<li class="#"><%= link_to 'Vote',votes_path %></li>
			    </ul>
          	</div>
          	<div class="span10">
          		<h3>Suggestion Phase</h3>
      		    <table class="table table-bordered">
      		    	<tr class="success">
						<th>No</th>
						<th>Round</th>
						<th>Deadline</th>
						<th>Action</th>
						<!-- <th>Status</th> -->
					</tr>

				<% @suggestion_id = 0; %>

				<% @arr_suggestions.each do |round| %>
				<% leave_day = (round[:suggestion].deadline - Date.today).to_i %>
			    	<tr>
						<td><%= @suggestion_id = @suggestion_id + 1 %></td>
						<td><%= round[:suggestion].question %></td>
						<% if leave_day > 0 %>
	    					<td><span class="leave_deadline">(Leave: <%= leave_day %> day(s) )</span></td>
	    				<% elsif leave_day <= 0 %>
	    					<td>
	    						<span class="view_completed_round">(Closed)</span>
	    					</td>
	    				<% end %>
						<td>
							<% if leave_day > 0 %>
								<span>
								<%= link_to '<button class="btn btn-success">Add more suggestion</button>'.html_safe, edit_suggestion_path(round[:suggestion]) %>
								</span>
							<% elsif leave_day <= 0 %>
								<span>
								<%= link_to '<button class="btn btn-danger">Start Voting</button>'.html_safe, status_round_path(round[:suggestion], :status => "vote"), method: :post %>
								</span>
							<% end %>
							
						</td>
						<!-- <td>
	         <span><%= link_to '<button class="btn btn-success">Enable</button>'.html_safe, status_round_path(round, :status => 0), method: :post %></span>
						</td> -->
					</tr>
				<% end %>
			    </table>
          	</div>
        </div>
    </div>
