<div id="wrapper">
	<div class="container-fluid">
        <div class="row-fluid">
          	<div class="span2">
          		<h3>Action</h3>
                <ul class="nav nav-tabs nav-stacked">
			    	<li><a href="#">Management</a></li>
					<li><%= link_to 'User',users_path %></li>
					<li class="active"><%= link_to "Round Phase",rounds_path%></li>
					<li class="#"><%= link_to 'Suggestion Phase',suggestions_path %></li>
			    </ul>
          	</div>
          	<div class="span10">
          		<h3>Round Management</h3>
          		<p>
          			<%= link_to '<button type="button" class="btn btn-info">Add New</button>'.html_safe, new_round_path %>
          		</p>
      		    <table class="table table-bordered">
      		    	<tr class="success">
						<th>No</th>
						<th>Round</th>
						<th>Deadline</th>
						<th>Top Answer</th>
						<th>Action</th>
						<!-- <th>Status</th> -->
					</tr>

				<% @suggestion_id = 0; %>

				<% @arr_suggestions.each do |round| %>
			    	<tr>
						<td><%= @suggestion_id = @suggestion_id + 1 %></td>
						<td><%= round[:suggestion].question %></td>
						<td><%= round[:suggestion].deadline %></td>
						<td style="color: purple; font-weight: bold;"><%= round[:top_answer] %></td>
						<td>
							<span>
								<%= link_to '<button class="btn btn-success">Add more suggestion</button>'.html_safe, edit_suggestion_path(round[:suggestion]) %>
							</span> 
							&nbsp;
							
						</td>
						<!-- <td>
	         <span><%= link_to '<button class="btn btn-success">Enable</button>'.html_safe, status_round_path(round, :status => 0), method: :post %></span>
						</td> -->
					</tr>
				<% end %>
			    </table>
          	</div>
        </div>
    </div>
